.card-propiedades{
    margin-bottom: 20px;
    border-radius: 300px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fcfcfc;
    animation: propiedadesAnimadas 3.5s linear;
}

@keyframes propiedadesAnimadas {
    

    from{
        opacity: 0.2;
    }

    to{
        opacity: 1;
    }
}

.container-data-card{
    background-color: #fcfcfc;
}

.title-card{
    color: #282f39;
    font-size: 20px;
    margin: 10px 10px;
}

.description-card{
    font-size: 16px;
    color: #304a5d;
    margin: 10px 10px;
}

@media (min-width: 415px){
    .card-propiedades{
        width: 65%;
    }
}

@media (min-width: 768px) {
    .card-propiedades{
        width: 68%;
    }
    
}


@media (min-width: 1024px) {

.card-propiedades{
    width: 75%;
}
}

@media (min-width: 1260px) {

    .card-propiedades{
        margin-left: 6rem;
        width: 58%;
    }
}