.card-propiedades{
    margin-bottom: 20px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    width: 85%;
    background-color: #fcfcfc;
    animation: propiedadesAnimadas 3.5s linear;
}

@keyframes propiedadesAnimadas {
    
    
    from{
        opacity: 0.2;
    }

    to{
        opacity: 1;
    }
}

.container-data-card{
    background-color: #fcfcfc;
}

.title-card{
    color: #282f39;
    font-size: 20px;
    margin: 10px 10px;
}

.description-card{
    font-size: 16px;
    color: #304a5d;
    margin: 10px 10px;
}

@media (min-width: 768px) {
    .card-propiedades{
        width: 75%;
    }
    
}


@media (min-width: 1024px) {

.card-propiedades{
    width: 80%;
}
}

@media (min-width: 1260px) {

    .card-propiedades{
        margin-left: 4rem;
        width: 68%;
    }
}