

.header-title{
    display: flex;
    justify-content: flex-start;
    color: #DC5572;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 10px 0 rgb(232 234 242 / 50%);
    position: sticky;
    top: 0;
}

@media (min-width: 720px){
    .header-title{
        font-size: 30px;
    }
}